.quick-reply {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: $c-white;

	text-align: center;

	border-radius: 4px;

	> .link {
		@include f-primary-semibold;
		font-size: 1.6rem;

		@include grid-media($mobile) {
			font-size: 1.2rem;
		}
	}
}
