.home {
	@include grid-container(800px);
	margin: 0 auto;
	padding: 10px 20px;
	box-sizing: border-box;

	height: 100vh;
	display: flex;
	flex-direction: column;
	min-height: 490px;

	background-color: $c-blue;

	.title {
		margin: 0;
		color: $c-white;
	}

	.subtitle {
		color: $c-white;
		font-size: 1.8rem;
		line-height: 20px;
	}

	.chat {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.cta {
		flex: 3;

		@include grid-media($mobile) {
			flex: 2;
		}
	}

	.message {
		margin-bottom: 10px;
	}

	.quick-replies {
		min-height: 120px;
	}
}
