.home {
	@include grid-container(800px);
	margin: 0 auto;
	padding: 10px 20px;
	box-sizing: border-box;

	height: 100vh;
	display: flex;
	flex-direction: column;

	background-color: $c-blue;

	.title {
		color: $c-white;
	}

	.chat {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.cta {
		flex: 3;
	}

	.message {
		margin-bottom: 10px;
	}
}
