.home {
	@include grid-container(800px);
	margin: 0 auto;
	padding: 10px;
	box-sizing: border-box;

	height: 100vh;
	display: flex;
	flex-direction: column;

	.chat {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.cta {
		flex: 3;
	}
}
