.chat-bubble {
	.bot,
	.user {
		max-width: 60%;
		padding: 8px;

		border-radius: 4px;
	}

	.bot {
		float: right;
		background-color: $c-blue;

		> .reply {
			color: $c-white;
			text-align: right;

			@include grid-media($mobile) {
				font-size: 1.2rem;
			}
		}
	}

	.user {
		float: left;
		background-color: $c-white;

		> .reply {
			text-align: left;

			@include grid-media($mobile) {
				font-size: 1.2rem;
			}
		}
	}
}
