.chat-bubble {
	.bot,
	.user {
		padding: 8px;

		border-radius: 4px;
	}

	.bot {
		float: right;
		background-color: $c-blue;

		> .reply {
			margin: 0;

			color: $c-white;
			text-align: right;
		}
	}

	.user {
		float: left;
	}
}
